*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}
html,
body {
  font-size: 62.5%;
  background-color: #d10000;
}
.app-header {
  font-family: 'Montserrat', sans-serif;
  background-color: #d10000;
  color: white;
  text-transform: uppercase;
  padding: 1% 0 1% 15%;
}

.header {
  background-image: linear-gradient(
      to left,
      rgba(255, 255, 255, 0),
      rgba(209, 0, 0, 1)
    ),
    url(./winter.jpg);
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 100%;
  background-attachment: fixed;
  color: #fff;
}

.container {
  background-color: rgba(209, 0, 0, 0.8);
  border-radius: 1rem;
  margin: 3rem auto;

  width: 60rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
  text-transform: uppercase;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  grid-template-areas:
    'input input'
    'interest installment';
}

.input {
  grid-area: input;
}
.interest {
  grid-area: interest;
  text-align: center;
  padding: 2rem 0;
}
.installment {
  grid-area: installment;
  text-align: center;
  padding: 2rem 0;
}
.display-result {
  height: 8rem;
  color: #d10000;
  width: 20rem;
  align-content: center;
  margin: 4rem auto;
  padding-top: 2rem;
  border-radius: 1.5rem;
  background-color: #fff;
}

span.currency {
  font-size: 1.4rem;
}

span.numeric {
  font-size: 4rem;
  font-weight: 900;
}
h3 {
  font-weight: 500;
  font-size: 2rem;
}
h1 {
  font-weight: 500;
  font-size: 3.2rem;
}

@media only screen and (min-width: 100px) and (max-width: 930px) {
  html {
    font-size: 45%;
  }
  .container {
    width: auto;
    grid-template-rows: 1fr 0.5fr;
    grid-template-columns: 25rem 25rem;
    grid-template-areas:
      'input input'
      'interest installment';
  }

  .display-result {
    height: 6rem;
    color: #d10000;
    width: 15rem;
    align-content: center;
    margin: 2rem auto;
    padding-top: 1rem;
    border-radius: 1.5rem;
    background-color: #fff;
  }
  .app-header {
    padding: 5% 5%;
  }
  span.MuiSlider-root {
    width: 60%;
  }
}
